.header-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #383838;
  padding: 5px;

}

.header-panel__logo {
  flex: 1;
  padding: 5px;
  width: 100px;
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: 200ms;
}
.header-panel__logo:hover {
  transition: 200ms;
  transform: translate(10px);
}

.header-panel__link-to-cart {
  flex: 1;
  padding: 7px;
  text-decoration: none;
  text-align: end;
}
.header-panel__link-to-cart:hover {
  transition: 200ms;
  transform: scale(1.1);
}

